.git
.env
.env.local
.env.*.php
.env.backup
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
tests/
.editorconfig
.gitignore
.gitattributes
